---

---

<a class="brand" href="/" title="Pablo Fogliazza">pablofogliazza<span>.dev</span></a>

<style lang="scss">
	.brand {
		display: inline-block;
		font-family: var(--font-sans);
		font-size: 15px;
		line-height: 1;
		font-weight: 700;
		text-decoration: none;
		color: var(--color-text);
		text-transform: lowercase;
		padding-top: 5px;
		padding-bottom: 21px;

		span {
			color: var(--color-accent);
		}
	}
</style>
